<!DOCTYPE html>
<html>
<head>
    <title>Asset Form</title>
</head>
<body>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h1>{{ form.instance.pk|yesno:"Edit Asset,Add Asset" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'asset_list' %}">Back to assets</a>
</body>
</html>
