{% extends 'inventory/base.html' %}

{% block title %}Contact Us{% endblock %}
{% block page_title %}Contact{% endblock %}
{% block heading_text %}Contact the Admins{% endblock %}

{% block subheading %}
<h2>For any issues or queries, please leave a message and an administrator will respond to assist you.</h2>
{% endblock %}

{% block content %}
<div class="contact-form-box">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Message</button>
    </form>
</div>
{% endblock %}
